:root {
    --primary: #fea116;
    --btn_hover: #ffc107;
    --btn_focus: #ffc107;
    --btn_disable: #f0a83d;
    --light: #F1F8FF;
    --dark: #2e304e;
    --lighten_dark: #383b3f;
    --header_height: 62.5px;
    --sidebar_width: 240px;
}

body {
    box-sizing: border-box;
    background-color: #f5f5f5;
    min-height: 100vh;
    /* margin-top: var(--header_height); */
}

main.main{
    /* display: flex; */
    width: calc(100% - var(--sidebar_width));
    margin-left: var(--sidebar_width);
    min-height: calc(100vh - var(--header_height));
    /* margin-top: calc(var(--header_height)); */
}

/* .btn{
    border-color: var(--primary);
    color: var(--primary);
} */

.btn-group{
    border-color: var(--primary);
    color: var(--primary);
}

.btn-group:hover{
    border-color: var(--btn_hover);
    color: var(--btn_hover);
}

.btn.disabled{
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}

.btn-outline-primary{
    /* background-color: var(--primary); */
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary:hover{
    background-color: var(--btn_hover);
    border-color: var(--btn_hover);
    transition-duration: 0.3s;
    color: white;
}

.btn-outline-primary:active{
    background-color: var(--btn_hover) !important;
    border-color: var(--btn_hover) !important;
    transition-duration: 0.3s;
    color: white;
}

.btn-primary:hover{
    background-color: var(--btn_hover);
    border-color: var(--btn_hover);
    transition-duration: 0.3s;
    color: white;
}

.btn-primary:active{
    background-color: var(--btn_focus) !important;
    border-color: var(--btn_focus) !important;
    transition-duration: 0.3s;
    color: white;
}

.btn-secondary{
    border: 1px solid #6c757d;
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover{
    background-color: #5a6268;
    border-color: #545b62;
    color: white;
}

.btn-secondary:active{
    background-color: #545b62;
    border-color: #4e555b;
    color: white;
}

.btn-danger{
    color: white;
}

