@font-face {
    font-family: 'jf-openhuninn-2.1';
    src: url("/fonts/jf-openhuninn-2.1.ttf");
}

.sidebar {
    background-color: var(--dark);
    background: linear-gradient(180deg, var(--dark), #454580f5);
    width: var(--sidebar_width);
    min-height: 100vh;
    border-right: 1px solid #dee2e6;
    top: var(--header_height);
    height: calc(100% - var(--header_height));
    overflow-y: auto;
    position: fixed;
    left: 0;
    
}

@media(max-width: 991.98px){
    .sidebar{
        background-color: var(--dark);
        width: var(--sidebar_width);
        min-height: 100vh;
        border-right: 1px solid #dee2e6;
        /* top: 80px; */
        height: calc(100% - 80px);
        overflow-y: auto;
        position: fixed;
        left: 0;
    }
}

.sidebar-link {
    display: block;
    padding: .5rem 1rem;
    color: var(--light);
    padding: 0.5rem 1rem;
}

.sidebar-link:hover {
    background-color: var(--lighten_dark);
    color: var(--light);
    border-radius: 8px;
    text-decoration: none;
}
.sidebar-link.active{
    color: var(--light) !important;
    background-color: var(--primary);
    border-radius: 8px;
}
.sidebar-item > .sidebar-parent.active{
    background-color: var(--dark);
}
.sidebar-item > .sidebar-parent.active:hover{
    background-color: var(--lightenDark);
}

.submenu {
    padding-left: 2rem;
}

.submenu .nav-link {
    font-size: 0.9rem;
}

.menu-icon {
    width: 1.2rem;
    text-align: center;
    margin-right: 0.5rem;
}

.chevron {
    float: right;
    transition: transform 0.3s;
}

.chevron.rotated {
    transform: rotate(90deg);
}



